################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/SuperJiw5/Polynomials - long long.dat
/SuperJiw5/Polynomials - long.dat
/SuperJiw5/Polynomials - short.dat
